* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(39, 38, 38);
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

hr {
    border-color: rgb(39, 38, 38);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-evenly {
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-------------------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    background-color: rgb(34, 31, 31);
    position: sticky;
    top: 0;
    z-index: 2;
}

#logo {
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 150px;
}

#logo p {
    font-size: 36px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-right: 150px;
    gap: 50px;
}

.menu-option {
    display: flex;
    gap: 50px;
}

.menu-item {
    width: 175px;
    height: 40px;
    background-color: rgb(226, 131, 43);
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    border-radius: 20px;
    transition: 0.4s ease;
}

.menu-item:hover {
    background-color: rgb(201, 97, 0);
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

/*-------------------------------------------------------------*/

#main-container {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(221, 219, 219);
    border-radius: 30px;
}

/*-------------------------------------------------------------*/

#opis-container {
    width: 1295px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 25px;
}

#opis-container h1 {
    margin: 0;
    border-top: none;
    border-bottom: none;
}

#opis-container p {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    text-align: justify;
}

/*-------------------------------------------------------------*/

#swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.swiper {
    width: 1200px;
    height: 500px;
    border-radius: 30px;
}

.swiper-wrapper img {
    width: 100%;
    filter: blur(50px);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: white;
}

.swiper .swiper-pagination-bullet-active {
    background: white;
}

/*-------------------------------------------------------------*/

#harmonogram-plan-container {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    border-bottom: 5px dotted black;
    margin-bottom: 40px;
}

/*-------------------------------------------------------------*/

.harmonogram-plan-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.harmonogram-plan-buttons button {
    width: 200px;
    height: 40px;
    background-color: rgb(226, 131, 43);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    transition: 0.4s ease;
}

.harmonogram-plan-buttons button:hover {
    background-color: rgb(201, 97, 0);
    cursor: pointer;
}

/*-------------------------------------------------------------*/

#harmonogram-container {
    display: flex;
    flex-direction: column;
    width: 1295px;
    margin-left: auto;
    margin-right: auto;
}

.harmonogram-inner-container {
    display: flex;
    flex-direction: column;
}

.harmonogram-inner-container-left {
    justify-content: center;
    align-items: flex-start;
}

.harmonogram-inner-container-right {
    justify-content: center;
    align-items: flex-end;
}

.harmonogram-left-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 650px;
    border-right: 5px solid black;
}

.harmonogram-left-item-container::after {
    content: "";
    text-align: center;
    border: 2px solid black;
    width: 80px;
    height: 0;
    margin-left: 15px;
}

.harmonogram-right-item-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 650px;
    border-left: 5px solid black;
}

.harmonogram-right-item-container::before {
    content: "";
    text-align: center;
    border: 2px solid black;
    width: 80px;
    height: 0;
    margin-right: 15px;
}

.harmonogram-item {
    width: 650px;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    transform: translateX(100px);
    transition: 500ms;
    opacity: 0;
}

.harmonogram-item.show {
    transform: translateX(0);
    opacity: 1;
}

/*-------------------------------------------------------------*/

#plan-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#plan-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan-item {
    height: fit-content;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
    font-size: 20px;
    transform: translateX(100px);
    transition: 800ms;
    opacity: 0;
}

.plan-item.show {
    transform: translateX(0);
    opacity: 1;
}

.plan-item-no-margin-top {
    margin-top: 0;
}

.plan-item p {
    width: 800px;
    padding-left: 20px;
    padding-right: 20px;
}

/*-------------------------------------------------------------*/

#zespol-container {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 4px solid black;
    margin-bottom: 40px;
}

#zespol-container h1 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#zespol-inner-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 40px;
}

/*-------------------------------------------------------------*/

.czlonek-zespolu {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.4s ease;
}

.czlonek-zespolu:hover {
    background-color: rgb(226, 131, 43);
    cursor: pointer;
}

.czlonek-zespolu img {
    width: 100px;
    margin-bottom: 10px;
}

.czlonek-zespolu figcaption {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.czlonek-zespolu p {
    font-size: 20px;
    font-weight: 500;
}

/*-------------------------------------------------------------*/

.kontakt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.kontakt-container img {
    width: 30px;
    height: 20px;
}

.kontakt-container p {
    font-size: 16px;
    font-weight: normal;
}

/*-------------------------------------------------------------*/

#dokumentacja-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.dokumentacja-item {
    width: 300px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: 0.2s ease;
}

.dokumentacja-item:hover {
    background-color: rgb(226, 131, 43);
    font-weight: bold;
    cursor: pointer;
}

.file-input {
    display: none;
}

.file-label {
    width: 250px;
    border-bottom: 4px solid black;
}

.file-label:hover {
    cursor: pointer;
}

.file-label img {
    height: 95px;
}

.file-label p {
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
}

/*-------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

.to-top {
    position: fixed;
    bottom: 24px;
    right: 32px;
    opacity: 0;
    transition: all 0.4s;
}

.to-top.active {
    opacity: 1;
}

.to-top img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*-------------------------------------------------------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: rgb(39, 38, 38);
    color: white;
    font-size: 20px;
    font-weight: bold;
    row-gap: 15px;
}

footer p,
footer marquee {
    letter-spacing: 5px;
}

/*-------------------------------------------------------------*/

@media (max-width: 1420px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu-option {
        position: fixed;
        left: -100%;
        top: 75px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        transition: 0.4s;
        margin-left: 40px;
        margin-top: 15px;
    }

    .menu-option.active {
        left: 0;
    }

    .menu-item {
        width: 250px;
    }

    #logo {
        width: 80%;
        margin-left: 50px;
    }

    menu {
        width: 20%;
        margin-right: 50px;
    }

    #opis-container p {
        padding-left: 60px;
        padding-right: 60px;
    }

    /*-------------------------------------------------------------*/

    #swiper-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .swiper {
        height: 300px;
    }

    /*-------------------------------------------------------------*/

    #main-container,
    #opis-container,
    .swiper-wrapper img,
    #harmonogram-plan-container,
    #harmonogram-container,
    .harmonogram-left-item-container,
    .harmonogram-right-item-container,
    .harmonogram-item,
    #plan-container,
    .plan-item p {
        width: auto;
    }

    .harmonogram-left-item-container::after,
    .harmonogram-right-item-container::before {
        display: none;
    }

    .harmonogram-left-item-container,
    .harmonogram-right-item-container {
        border: 0;
    }

    #harmonogram-container {
        row-gap: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .harmonogram-item {
        max-width: 800px;
    }

    #plan-container {
        row-gap: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .plan-item {
        max-width: 800px;
    }

    /*-------------------------------------------------------------*/

    .flex-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }

    #zespol-container,
    #zespol-container h1,
    #zespol-inner-container {
        width: auto;
    }

    #zespol-container h1 {
        margin-left: 35px;
        margin-right: 35px;
    }

    #zespol-inner-container {
        row-gap: 30px;
    }

    /*-------------------------------------------------------------*/

    #dokumentacja-container {
        width: auto;
        margin-left: 35px;
        margin-right: 35px;
    }

    .dokumentacja-item {
        margin-bottom: 0;
    }

    .dokumentacja-item:last-child {
        margin-bottom: 30px;
    }

    .dokumentacja-item {
        width: 250px;
        height: 250px;
    }

    .file-label {
        width: 200px;
    }

    .file-label img {
        height: 130px;
    }

    .file-label p {
        padding-top: 0;
        padding-bottom: 10px;
    }

    /*-------------------------------------------------------------*/

    footer {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}